doctype html
html
  head
    link(
      rel='stylesheet'
      type='text/css'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'
    )
  body
    #app
    script(src='/base.js')
