.blog-page
  padding: 3em 1em
  max-width: 50ch
  box-sizing: border-box

  h1, h2, &-date
    text:
      align: center
      transform: uppercase

  h2
    font:
      size: 1em
      weight: bold
    letter-spacing: 0.1em
    margin: 2em
    position: relative
    z-index: 1
    overflow: hidden
    &:before, &:after
      content: '\a0'
      background-color: #000
      height: 0.16em
      position: absolute
      overflow: hidden
      top: calc(50% - 0.08em)
      width: calc(50% - 1em)
    &:before
      text-align: right
      margin-left: -50%
    &:after
      margin-left: 1em

  &-date
    font:
      size: 0.6em
      weight: bold
    letter-spacing: 0.05em
    margin-top: 1em
    margin-bottom: 2em

  hr
    background-color: #f00
    border-width: 0
    height: 0.25em
    width: 3em
    margin-bottom: 1.25em

  &-dropcap
    color: #f00
    margin-right: 0.075em
    margin-top: 0.11em !important

  &-previous, &-next
    margin-top: 1em
    display: inline-block

  &-disqus
    margin: 2em auto
